* {
  box-sizing: border-box;
  font-family: Arial;
}
.navbar{
  position: sticky;
  top: 0;
  width: 100%;
  margin: -8px;
  z-index: 2;
}
.nav_container{
  display: flex;
  background-color: black;
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 60px;
}

.nav_container li a {
    text-decoration: none;
    display: block;
    width: 150px;
    color: white;
    text-align: center;
    line-height: 60px;
}
.nav_container li:hover{
  transition-duration: 0.4s;
  background-color: aqua;
}
.nav_container li i{
  margin-right: 10px;
}
.articlebox{
    margin: 100px auto;
    width:60%;
    display: flex;
    border: 1px solid gray;   
}

.five{
  width: 80%;
  display: flex;
  margin: auto;

}
.five > div {
  margin: 18px;
  border: 1px solid lightgrey;
  border-radius: 8px;
}
.first_second_third{
  flex: 3;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}
.first_second{
  display: flex;
}
.fourth{
  flex: 1;
  height: 40%;
  background-color: lightgray;
}

.btn{
  margin-top: 20px;
  width: 99%;
  height: 60px;
  color: white;
  background-color: grey;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition-duration: .3s;
}
.btn:hover {
  background-color: #4eb151;
}

.first,
.second{
  margin: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.first_second input{
  margin: 10px 10px;
}
.state_zip{
  display: flex;
}
.year_cvv{
  display: flex;
}

.third{
  width: 100%;
}

.fourth > div {
  display: flex;
  justify-content: space-between;
  line-height: 36px;
}
.fourth a {
  text-decoration: none;
}
#visa {color: navy;}
#applepay {color: blue;}
#discover {color: orange;}
#master {color: red;}

hr{
  width: 90%;
}

.timeview_container{
    width:80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tv_box {
  display: flex;
  width: 49%;
  height: 350px;
  background-color: #7171be;
  position: relative;
}
.tv_content {
  background-color: white;
  border: medium solid white;
  border-radius: 8px;
  width: 80%;
  height: 53%;
  top: 30px;
  margin: auto;
}
.left i{
  margin-top: 25%;
  color: orange;
  z-index: 1;
}
.right{
  flex-direction: row-reverse;
}
.right i{
  margin-top: 25%;
  color: orange;
  z-index: 1;
}

.left::after {
  content: " ";
  width: 0; 
  height: 0;
  position: absolute;
  margin-top: 23%;
  right: 5%;
  border: 20px solid transparent;
  border-left-color:  white;
  z-index: 1;
}

.right::before {
  content: " ";
  width: 0; 
  height: 0;
  position: absolute;
  margin-top: 23%;
  left: 5%;
  border: 20px solid transparent;
  border-right-color:  white;
  z-index: 1;
}
